<!DOCTYPE html>
<html>
  <head>
    <title>ZombieDice</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="https://s.blogcdn.com/blog.games.com/media/2009/10/basic.jpg" type="image/x-icon" >
    <link href="https://fonts.googleapis.com/css?family=Bangers&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">

    <script type="text/javascript">
      window.images = {
        zombie: "<%= image_url('splash-zombie.jpg') %>"
      }
    </script>

    <% if logged_in? %>
      <script type="text/javascript">
      window.currentUser = <%= render("api/users/user.json.jbuilder", user: current_user
      ).html_safe %></script>
    <% end %> 

  </head>

  <body>
    <%= yield %>
  </body>
</html>
